<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <span class='pastelCrayon-company-name'>
        <%= link_to RefinerySetting.find_or_set(:site_name, "Company Name"), root_path, :class => 'brand' %>
      </span>
      <ul>
        <!-- <li>Students: <%= link_to RefinerySetting.find_or_set(:student_count, "Student Count"), '#' %></li> -->
        <li>Volunteers: <%= link_to RefinerySetting.find_or_set(:volunteer_count, "Volunteer Count"), '#' %> | Goal: <%= link_to RefinerySetting.find_or_set(:volunteer_count_goal, "Volunteer Count Goal"), '#' %></li>
        <li>Donations: <%= link_to RefinerySetting.find_or_set(:donations_count, "Donations Count"), '#' %> | Goal: <%= link_to RefinerySetting.find_or_set(:donations_goal, "Donations Goal"), '#' %></li>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>

<%= render :partial => "/shared/slideshow" %>

<%= render(:partial => "/shared/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
