<section id="counts" class="center">
  <ul>
    <li>Students: <%= link_to RefinerySetting.find_or_set(:student_count, "Student Count"), '#' %></li>
    <li>Volunteers: <%= link_to RefinerySetting.find_or_set(:volunteer_count, "Volunteer Count"), '#' %> | Goal: <%= link_to RefinerySetting.find_or_set(:volunteer_count_goal, "Volunteer Count Goal"), '#' %></li>
    <li>Donations: <%= link_to RefinerySetting.find_or_set(:donations_count, "Donations Count"), '#' %> | Goal: <%= link_to RefinerySetting.find_or_set(:donations_goal, "Donations Goal"), '#' %></li>
  </ul>
  <div class="clear"></div>
</section>

<section id="logo">
  <div class="sprite sprite-logo-png"></div>
</section>